.button-group {
    &.btn:focus{
        outline: none !important;
        box-shadow: unset !important;
    }
    &.btn.btn-default {
        background: #6accb9;
        border: unset;
        color: #fff;
        font-weight: 600;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        padding-top: 0.85rem;
        div{
            flex-grow: 1;
            margin-top: -0.15rem;
        }
        &.disabled{
            background: #ECEFF1;
            color: #8BA4B2;
            opacity: 1;
            svg{
                fill: #8BA4B2;
                stroke: #8BA4B2;
            }
        }
    }
}