html,
body {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#root {
  position: fixed;
  overflow: auto;
  height: 100%;
  width: 100%;
  background: radial-gradient(#a5f0e1, #6accb9);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}